body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.content {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 991px) {
    .content {
        margin: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .content {
        margin: 100px;
    }
}

@media (min-width: 1200px) {
    .content {
        margin: 120px;
    }
}

svg {
    margin: 40px;
    overflow: visible;
}

.axis.y.left text {
    fill: blueviolet;
}

.axis.y.right text{
    fill: darkcyan;
}

.freq.y text{
    padding-right: 10px;
    fill: red;
}

.time {
    fill: lightslategray;
}