body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

svg {
    margin: 40px;
    overflow: visible;
}

.axis.y.left text {
    fill: blueviolet;
}

.axis.y.right text{
    fill: darkcyan;
}

.axis.y.right line,
.axis.y.left line,
.freq.y line, .freq.x line {
    stroke-width: 1;
}

.freq.y text{
    padding-right: 10px;
    fill: red;
}

.time {
    fill: lightslategray;
}